@CHARSET "ISO-8859-1";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	background: -webkit-linear-gradient(top, rgba(220, 228, 230, 1) 0%,
		rgba(255, 255, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
	margin: 0px;
}

/* CLASES PARA PODER TENER EL FOOTER EN EL FONDO DE LA PAGINA */
* {
	margin: 0;
}

.titulo {
	text-align: center;
	font-family: 'Open Sans', Helvetica, sans-serif;
	margin-top: 35px;
	margin-buttom: 35px;
	font-size: large;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background-color: #b0e0e6;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -101px;
	z-index: 100;

	/* the bottom margin is the negative value of the footer's height */
}

.footer,.push {
	height: 200px; /* .push must be the same height as .footer */
	clear: both;
	position: relative;
	bottom: 0;
	width: 100%;
}

.panelGrid tbody tr td {
	text-align: center;
	width: 750px;
}

.panelGrid { .
	text-align: center;
	width: 750px;
	margin: 0px auto;
	z-index: -10;
}

.formu {
	z-index: 0;
	margin-top: 40px;
}

#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #menu-button
	{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: "20";
}

#cssmenu:after,#cssmenu>ul:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	z-index: "20";
}

#cssmenu #menu-button {
	display: none;
}

#cssmenu {
	width: auto;
	font-family: 'Open Sans', Helvetica, sans-serif;
	background: #69112a;
	background: -moz-linear-gradient(top, #831535 0%, #460b1c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #831535),
		color-stop(100%, #460b1c));
	background: -webkit-linear-gradient(top, #831535 0%, #460b1c 100%);
	background: -o-linear-gradient(top, #831535 0%, #460b1c 100%);
	background: -ms-linear-gradient(top, #831535 0%, #460b1c 100%);
	background: linear-gradient(to bottom, #831535 0%, #460b1c 100%);
	z-index: "20";
}

#cssmenu>ul {
	background: url('bg.png');
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
	z-index: "20";
}

#cssmenu>ul>li {
	float: left;
	z-index: "20";
}

#cssmenu>ul>li>a {
	padding: 18px 25px 21px 25px;
	border-right: 1px solid rgba(80, 80, 80, 0.12);
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
	color: #d3eced;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: "20";
}

#cssmenu>ul>li:hover>a,#cssmenu>ul>li>a:hover,#cssmenu>ul>li.active>a {
	color: #ffffff;
	background: #5c0f25;
	background: rgba(0, 0, 0, 0.1);
	z-index: "20";
}

#cssmenu>ul>li.has-sub>a {
	padding-right: 45px;
	z-index: "20";
}

#cssmenu>ul>li.has-sub>a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-top-color: #d3eced;
	right: 17px;
	top: 22px;
	z-index: "20";
}

#cssmenu>ul>li.has-sub.active>a::after,#cssmenu>ul>li.has-sub:hover>a {
	border-top-color: #ffffff;
	z-index: "20";
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	top: 60px;
	padding-top: 6px;
	font-size: 13px;
	opacity: 0;
	-webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
	-moz-transition: top 0.2s ease, opacity 0.2s ease-in;
	-ms-transition: top 0.2s ease, opacity 0.2s ease-in;
	-o-transition: top 0.2s ease, opacity 0.2s ease-in;
	transition: top 0.2s ease, opacity 0.2s ease-in;
	z-index: "20";
}

#cssmenu>ul>li>ul::after {
	content: '';
	position: absolute;
	z-index: "20";
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: #6e0628;
	top: -4px;
	left: 20px;
}

#cssmenu ul ul ul::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right-color: #6e0628;
	top: 11px;
	left: -4px;
	z-index: "20";
}

#cssmenu>ul>li>ul {
	top: 120px;
	z-index: "20";
}

#cssmenu>ul>li:hover>ul {
	top: 52px;
	left: 0;
	opacity: 1;
	z-index: "20";
}

#cssmenu ul ul ul {
	padding-top: 0;
	padding-left: 6px;
}

#cssmenu ul ul>li:hover>ul {
	left: 180px;
	top: 0;
	opacity: 1;
}

#cssmenu ul ul li a {
	text-decoration: none;
	font-weight: 400;
	padding: 11px 25px;
	width: 180px;
	color: #ffffff;
	background: #6e0628;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1),
		-1px 1px 1px rgba(0, 0, 0, 0.1);
}

#cssmenu ul ul li:hover>a,#cssmenu ul ul li.active>a {
	color: #333333;
}

#cssmenu ul ul li:first-child>a {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#cssmenu ul ul li:last-child>a {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	position: absolute;
	z-index: 999;
}

#cssmenu>ul>li>ul::after {
	position: absolute;
	display: block;
}

#cssmenu ul ul li.has-sub>a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-left-color: #ffffff;
	right: 17px;
	top: 14px;
}

#cssmenu ul ul li.has-sub.active>a::after,#cssmenu ul ul li.has-sub:hover>a::after
	{
	border-left-color: #333333;
}

@media all and (max-width: 800px) , only screen and
		(-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) , only
		screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px) ,
		only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width:
		1024px) , only screen and (min-device-pixel-ratio: 2) and (max-width:
		1024px) , only screen and (min-resolution: 192dpi) and (max-width:
		1024px) , only screen and (min-resolution: 2dppx) and (max-width:
	1024px) {
	#cssmenu {
		background: #69112a;
	}
	#cssmenu>ul {
		display: none;
	}
	#cssmenu>ul.open {
		display: block;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	#cssmenu>ul>li {
		float: none;
	}
	#cssmenu>ul>li>a {
		padding: 18px 25px 18px 25px;
		border-right: 0;
	}
	#cssmenu>ul>li:hover>a,#cssmenu>ul>li.active>a {
		background: rgba(0, 0, 0, 0.1);
	}
	#cssmenu #menu-button {
		display: block;
		text-decoration: none;
		font-size: 13px;
		font-weight: 700;
		color: #d3eced;
		padding: 18px 25px 18px 25px;
		text-transform: uppercase;
		letter-spacing: 1px;
		background: url('bg.png');
		cursor: pointer;
	}
	#cssmenu ul ul,#cssmenu ul li:hover>ul,#cssmenu>ul>li>ul,#cssmenu ul ul ul,#cssmenu ul ul li:hover>ul
		{
		left: 0;
		top: auto;
		opacity: 1;
		width: 100%;
		padding: 0;
		position: absolute;
	}
	#cssmenu ul ul li {
		width: 100%;
	}
	#cssmenu ul ul li a {
		width: 100%;
		box-shadow: none;
		padding-left: 35px;
	}
	#cssmenu ul ul ul li a {
		padding-left: 45px;
	}
	#cssmenu ul ul li:first-child>a,#cssmenu ul ul li:last-child>a {
		border-radius: 0;
		position: absolute;
		z-index: 999;
	}
	#cssmenu #locomalo {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-radius: 0;
		margin-right: 2px;
		right: 50%;
		float: right;
	}
	#cssmenu #menu-button::after {
		display: block;
		content: '';
		position: absolute;
		height: 3px;
		width: 22px;
		border-top: 2px solid #d3eced;
		border-bottom: 2px solid #d3eced;
		right: 25px;
		top: 18px;
	}
	#cssmenu #menu-button::before {
		display: block;
		content: '';
		position: absolute;
		height: 3px;
		width: 22px;
		border-top: 2px solid #d3eced;
		right: 25px;
		top: 28px;
	}
	#cssmenu>ul>li.has-sub>a::after,#cssmenu ul ul li.has-sub>a::after {
		display: none;
	}
}